venv
youtube_titles_thumbs_all_queries.csv
thumbnails
clip_finetuned_youtube_virality.pt
output_lora.png
output.png
output2.png
possible_thumbnails
thumbnails_travel
youtube_titles_thumbs_travel_queries.csv
add_subscriber_and_ai_summary.ipynb
bert_title_ranker.ipynb
output_lora.png
output.png
putput2.png
outputbert.png
result_clip.png
summarizing_video_transcripts.ipynb
youtube_titles_thumbs_travel_queries copy.csv
bert_youtube_views_model
clip_streamlit.py
clip_unfreeze_and_linear_head.ipynb